# intellij files
.idea/
*.iml

#Maven temporary files
target/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Custom stuff
/src/main/resources/application.properties
/src/main/resources/evening-brew.cer
/src/main/resources/evening-brew.jks
