# intellij files
.idea/
*.iml

#Maven temporary files
target/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Custom stuff
/src/main/resources/application.properties
/src/main/resources/trading-waza.cer
/src/main/resources/trading-waza.jks
/src/test/resources/application-test.properties
